<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<head>
  <meta charset="UTF-8">
  <title>마이 페이지: 내 구인글 확인</title>
  <link rel="stylesheet" th:href="@{/style/my_recruit.css}">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
</head>

<th:block layout:fragment="content">
  <body>
  <main>
    <nav class="sideBar">
      <ul>
        <div class=menuPart>
          <h2>마이 페이지</h2>
          <li><a th:href="@{/myPage}">내 기본정보</a></li>
          <li class="active"><a th:href="@{/my_recruit}">작성한 구인글</a></li>
          <li><a th:href="@{#}">경력 인증 요청 확인</a></li>

        </div>
        <li><a th:href="@{#}">회원탈퇴 </a></li>
      </ul>
    </nav>

    <div class="main">
      <h3 class="right_info">내 구인글 확인</h3>
      <hr>

        <table class ="board_list">
          <tr>
            <td>게시물 번호</td>
            <td>게시일</td>
            <td>제목</td>
            <td>마감일</td>
            <td colspan="3"></td>
          </tr> <!-- 0511 준원-->
          <tr th:if="${NotRecruit}!=null"><td rowspan="2"></td><td colspan="2">[[${NotRecruit}]]</td><td colspan="2"></td></tr>
          <tr th:if="${myRecruitList}!=null" th:each="myRecruitList : ${myRecruitList}">
            <td>[[${myRecruitList.recruit_no}]]</td>
            <td>[[${myRecruitList.post_date}]]</td>
            <td><a th:href="@{/recruit_result(recruitNo=${myRecruitList.recruit_no})}">[[${myRecruitList.recruit_title}]]</a></td>
            <td>[[${myRecruitList.deadline}]]</td>
            <td><button class="btn" th:onclick="'location.href=\''+ @{/applier_check(recruitNo=${myRecruitList.recruit_no})} + '\''">지원자확인</button></td>
            <td><button class="btn">결과확인</button></td>
          </tr>
        </table>
    </div>
  </main>
  </body>
</th:block>
</html>