<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>고객센터: 자주 묻는 질문</title>
    <link rel="stylesheet" th:href="@{/style/Q&A.css}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<th:block layout:fragment="content">

<body>
    <main>
        <h1>자주 묻는 질문</h1><br />
        <table class="board_list">
            <caption>게시판 목록</caption>
            <tbody>
                <tr>
                    <td class="tit">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                            1.유튜버 회원가입은 어떻게 하나요?
                        </button>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <strong>답변 : 간단한 회원정보 입력 후에 회원가입을 하실 수 있습니다. 회원가입시 채널인증과 아이디, 비밀번호, 이름, 닉네임, 성별, 핸드폰 번호, 주소,
                                    생년월일을 기재해야합니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                            2.편집자 회원가입은 어떻게 하나요?
                        </button>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <strong>답변 : 간단한 회원정보 입력 후에 회원가입을 하실 수 있습니다. 회원가입시 아이디, 비밀번호, 이름, 닉네임, 성별, 핸드폰 번호, 주소, 생년월일을
                                    기재해야합니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                            3.비밀번호 찾기는 어떻게하나요?
                        </button>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <strong>답변 : 로그인을 누른 후 비밀번호 찾기를 누른 뒤 아이디, 이름과 핸드폰 번호를 입력하여
                                    비밀번호를 찾을 수 있습니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFour">
                            4.아이디 찾기는 어떻게하나요?
                        </button>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-collapseFour">
                            <div class="accordion-body">
                                <strong>답변 : 로그인 화면에서 아이디 찾기를 눌러 아이디 찾기 화면으로 이동한 뒤
                                    이름과 핸드폰 번호를 입력하여 아이디를 찾을 수 있습니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFive">
                            5.회원 정보 수정은 어떻게하나요?
                        </button>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-collapseFive">
                            <div class="accordion-body">
                                <strong>답변 : 마이페이지의 내 기본 보기에 들어가면 이름, 닉네임, 휴대전화, 주소, 상세주소, 생년월일을
                                    수정 할 수 있습니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseSix">
                            6.구인글 등록은 어떻게하나요?
                        </button>
                        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-collapseSix">
                            <div class="accordion-body">
                                <strong>답변 : 유튜버로 로그인 후 구인글 게시판을 누른 뒤 구인글 작성을 누르면 등록할 수 있습니다.
                                구인글 작성은 제목, 유튜브 카테고리, 마감일, 직무, 작업량, 자격 요건, 급여, 급여 상세,
                                우대 사항, 편집 툴, 근무 환경, 복리 후생, 상세 모집 내용, 유튜브 채널 링크 또는 지원자들이
                                    편집해야하는 영상링크를 작성해야 등록가능합니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseSeven">
                            7.내 구인글 확인은 어떻게 하나요?
                        </button>
                        <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-collapseSeven">
                            <div class="accordion-body">
                                <strong>답변: 마이페이지에서 작성한 구인글에서 확인가능합니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseEight">
                            8.구인글 수정은 어떻게하나요?
                        </button>
                        <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-collapseEight">
                            <div class="accordion-body">
                                <strong>답변 :작성자만 수정할 수 있습니다.내정보보기를 누른뒤 작성한 구인글에 들어가서 수정을
                                    누르면 가능합니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseNine">
                            9.구인글 삭제는 어떻게하나요?
                        </button>
                        <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-collapseNine">
                            <div class="accordion-body">
                                <strong>답변 : 작성자만 삭제할 수 있습니다. 내정보보기를 누른뒤 작성한 구인글에 들어가서 삭제를
                                    누르면 가능합니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTen">
                            10.구인글 검색은 어떻게하나요?
                        </button>
                        <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-collapseTen">
                            <div class="accordion-body">
                                <strong>답변 : 구인글 게시판에 들어간 뒤 검색어를 입력한 후 검색버튼을 누르면 가능합니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseEleven" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseEleven">
                            11.포트폴리오 등록은 어떻게하나요?
                        </button>
                        <div id="panelsStayOpen-collapseEleven" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-collapseEleven">
                            <div class="accordion-body">
                                <strong>답변 : 편집자로 로그인 후 내 포트폴리오 작성를 누른 뒤 포트폴리오 작성을 누르면 등록할 수 있습니다.
                                공개포트폴리오 제목, 이름, 아이디, 성별, 근무 가능 지역, 편집 툴, 유튜버 편집 경력, 다른 기업 경력,
                                하고 싶은 말, 대표 영상 링크, 편집 영상 링크 작성해야 등록가능합니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwelve" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwelve">
                            12.포트폴리오 수정 어떻게하나요?
                        </button>
                        <div id="panelsStayOpen-collapseTwelve" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-collapseTwelve">
                            <div class="accordion-body">
                                <strong>답변 : 작성자만 수정할 수 있습니다.
                                내정보보기를 누른뒤 내 포트폴리오 보기를 누른뒤 작성한 포트폴리오에 들어가서 수정을 누르면
                                가능합니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThirteen" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThirteen">
                            13.포트폴리오 삭제는 어떻게 하나요?
                        </button>
                        <div id="panelsStayOpen-collapseThirteen" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-collapseTwelve">
                            <div class="accordion-body">
                                <strong>답변 :작성자만 수정할 수 있습니다.
                                내정보보기를 누른뒤 내 포트폴리오 보기를 누른뒤 작성한 포트폴리오에 들어가서 삭제를 누르면
                                가능합니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFourteen" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFourteen">
                            14.내 포트폴리오 조회는 어떻게하나요?
                        </button>
                        <div id="panelsStayOpen-collapseFourteen" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-collapseFourteen">
                            <div class="accordion-body">
                                <strong>답변 :내정보보기를 누른뒤 내 포트폴리오 보기에서 확인가능합니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFifteen" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFifteen">
                            15.내가 지원한 구인글 조회는 어떻게하나요?
                        </button>
                        <div id="panelsStayOpen-collapseFifteen" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-collapseFifteen">
                            <div class="accordion-body">
                                <strong>답변 :내정보보기를 누른뒤 내 포트폴리오 보기에서 확인가능합니다.</strong>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tit">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseSixteen" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseSixteen">
                            16.포트폴리오 공개 설정은 무엇입니까??
                        </button>
                        <div id="panelsStayOpen-collapseSixteen" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-collapseSixteen">
                            <div class="accordion-body">
                                <strong>답변 : 포트폴리오 작성자가 전체 공개, 일부 공개 여부를 설정할 수 있습니다.</strong>
                            </div>
                        </div>
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>
<!--        <div class="paging">-->
<!--            <a href="#" class="bt">첫 페이지</a>-->
<!--            <a href="#" class="bt">이전 페이지</a>-->
<!--            <a href="#" class="num on">1</a>-->
<!--            <a href="#" class="num">2</a>-->
<!--            <a href="#" class="num">3</a>-->
<!--            <a href="#" class="bt">다음 페이지</a>-->
<!--            <a href="#" class="bt">마지막 페이지</a>-->
<!--        </div>-->

        </div>
    </main>

    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
</th:block>
</html> 