<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">


<head>
  <meta charset="UTF-8">
  <title>회원가입: 편집자</title>
  <link rel="stylesheet" href="/style/signup_editor.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/script/signup.js"></script>
  <script th:inline="javascript">
    var Msg = [[${msg}]];
    if (Msg != null){
      alert(Msg);
    }
  </script>



</head>

<th:block layout:fragment="content">
<body>

  <main>
    <form id="signupForm" name="signupForm" method="POST" action = "/signup_editor">
      <h1 class="signup-title">편집자 회원가입</h1>
      <div class="signup-part">
        <div class=box>
          <div class=totalBox>
            <span class="titleText">아이디</span>
            <span class=inputBox>
              <input type="email" placeholder="email@editube.com" id="email" name = "email" class="inputValue" required>
            </span>
          </div>
        </div>
        <div class=box>
          <div class=totalBox>
            <span class="titleText">비밀번호</span>
            <span class="inputBox"><input type="password" name = "password" placeholder="••••••••" id="password" class="inputValue" required>
            </span>
          </div>
        </div>
        <div class=box>
          <div class=totalBox>
            <span class="titleText">비밀번호 확인</span>
            <span class="inputBox"><input type="password" name = "confirmPassword" placeholder="••••••••" id="confirmPassword" class="inputValue">
            </span>
          </div>
        </div>
        <div class=box>
          <div class=totalBox>
            <span class="titleText">이름</span>
            <span class="inputBox"><input type="text" name = "name" placeholder="이름을 입력하세요" id="name" class="inputValue" >
            </span>
          </div>
        </div>
        <div class=box>
          <div class=totalBox>
            <span class="titleText">닉네임</span>
            <span class="inputBox"><input type="text" name = "nickname" placeholder="닉네임을 입력하세요" id="nickname" class="inputValue">
            </span>
          </div>
        </div>
        <div class=box>
          <div class=totalBox>
            <span class="titleText">성별</span>
            <span class="inputBox">
              <label><input type="radio" name="gender" value="남"> 남성</label>&nbsp;&nbsp;&nbsp;
              <label><input type="radio" name="gender" value="여"> 여성</label>
            </span>
          </div>
        </div>
        <div class=box>
          <div class=totalBox>
            <span class="titleText">핸드폰 번호</span>
            <span class="inputBox"><input type="text" name="phone_number" placeholder="010-0000-0000" id="phone_number" class="inputValue" >
            </span>
          </div>
        </div>
        <div class="box address">
          <div class=totalBox>
            <span class="titleText">도로명 주소</span>
            <span class="inputBox"><input type="text" name="address" placeholder="도로명 주소를 입력하세요" id="address" class="inputValue" >
            </span>
          </div>
          <button type = "button" class = "searchAddrButton">주소찾기</button>
        </div>

        <div class=box>
          <div class=totalBox>
            <span class="titleText">상세 주소</span>
            <span class="inputBox"><input type="text" placeholder="상세 주소를 입력하세요" id="detail_addr" class="inputValue" name = "detail_addr">
            </span>
          </div>
        </div>
        <div class=box>
          <div class=totalBox>
            <span class="titleText">생년월일</span>
            <span class="inputBox"><input type="date" id="birth_date" name = "birth_date" class="signup-birthdate">
            </span>
          </div>
        </div>
      </div>
      <button type="submit" id = "signUpButton" class="signUpButton">회원가입</button>
    </form>
  </main>
</body>
</th:block>
</html>